[color]
	ui = true

[alias]
        # Commons.
        co = checkout
        cob = checkout -b
        st = status
        c = commit
        cm = commit -m
        cam = commit -am
        br = branch
        brd = branch -d
        brD = branch -D
        aa = add .
        master = !git checkout master && git pull origin
        poh = push origin HEAD
        newb = checkout -b
    	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -r git branch -d"
        rename = branch -m

[core]
        excludesfile = /Users/vivi./.gitignore
    	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
